SECRET_KEY=django-insecure-kw@x!#)ps2v4_=ttoq%q3ie6(3u_nn436q%hlsso+-=)(m(m@7
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=hippocrates
DB_USER=hippo_user
DB_PASSWORD=hippo_pass
DB_HOST=localhost
DB_PORT=5432

GEMINI_API_KEY=your_gemini_api_key_here
CORS_ALLOWED_ORIGINS=http://localhost:5173
